<div class="container">

	<h1><%= @topic.title %></h1>
	<% @topic.comments.each do |comment| %>
	<p><%= comment.content %></p>
	<% end %>
	<br><br>

	<form action="/topics/<%= @topic.id %>/comments" method="Post">
		<input type="text" name="content" placeholder="Add a Comment">
		<input type="submit" value="SUBMIT">
	</form>

</div>




